html,
body {
  margin: 0;
  padding: 0;
  background: white;
}

canvas {
  position:relative;
  display: block;
  z-index: 100;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#sketchList {
  text-align: center;
}

#sketchList a {
  color: blue;
  font-size: large;
  display: block;
  text-decoration: none;
  font-size: 25px;
}

.infoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.info {
  padding: 10px;
  background: white;
  border: 1px solid black;
  font-size: 20px;
  font-family: monospace;
}
